@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.colorPicker-preview { border-left: 10px; }


.app-filters {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
}
