@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.appContainer {
  max-width: 860px;
  margin: 0 auto;
  box-shadow:0px 0px 209px 44px rgba(158, 158, 158, 0.05);
}

.grid-inputs {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 1rem;
  padding: 3rem;
}
@media screen and (max-width: 800px){
  .grid-inputs {
    grid-template-columns: 100%;
    grid-gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

}

.colorPicker-preview { padding-top:0.7rem; border-style: solid; border-left:2rem; display:inline-block }

.app-filters {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
}

.app-filter-container {
  box-shadow: 0 0 16px rgba(0,0,0,0.16);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}
